/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 nov. 2016, 22:06:41
    Author     : mabsalhi.sos
*/

$portlet-topper-bg: $brand-default;
$portlet-topper-border: $portlet-topper-bg;
$portlet-topper-color: #FFF;
$portlet-topper-link-color: #FFF;
$portlet-topper-link-hover-color: $portlet-topper-link-color;

$portlet-content-border-radius: 0 0 2px 2px;
$portlet-topper-border-radius: 4px 4px 0 0;