/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 nov. 2016, 22:05:47
    Author     : mabsalhi.sos
*/

$bg-color: #FFFFFF;
$bright-color: #65B6F0;
$complementary-color: #869CAD;
$solid-color: #891B52;